<div class="sidebar">
    <a href="/" class="brand">wirela</a>
    
    <div class="sidebar-section sidebar-body">
        <div class="section-title">Navigation</div>
        <ul class="sidebar-main-nav list-unstyled">
            <li class="sidebar-item">
                <a class="sidebar-link" data-toggle="collapse" href="#dashboard-dropdown">
                    Dashboard
                </a>
                <div id="dashboard-dropdown" class="collapse panel-collapse">
                    <div class="panel-body">
                        <ul class="nav navbar-nav">
                            <li class="sidebar-item">
                                <a href="/dashboard" class="dropdown-link">
                                    Dashboard
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" data-toggle="collapse" href="#product-dropdown">
                    Products
                </a>
                <div id="product-dropdown" class="collapse panel-collapse">
                    <div class="panel-body">
                        <ul class="nav navbar-nav">
                            <li class="sidebar-item">
                                <a href="/admin/product/list" class="dropdown-link">
                                    Inventory
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a href="/admin/product/create" class="dropdown-link">
                                    Add Product
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li><!-- sidebar-item product-->
            <li class="sidebar-item">
                <a class="sidebar-link" data-toggle="collapse" href="#order-dropdown">Order</a>
                <div id="order-dropdown" class="collapse panel-collapse">
                    <div class="panel-body">
                        <ul class="nav navbar-nav">
                            <li class="sidebar-item">
                                <a href="/admin/list-orders" class="dropdown-link">
                                    Order List
                                </a>
                            </li>
                        </ul>
                    </div>
                </div><!-- order dropdown -->
                <div id="order-dropdown" class="collapse panel-collapse">
                    <div class="panel-body">
                        <ul class="nav navbar-nav">
                            <li class="sidebar-item">
                                <a href="/admin/invoice" class="dropdown-link">
                                    Invoice
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li><!-- sidebar item order -->
            <li class="sidebar-item">
                <a class="sidebar-link" data-toggle="collapse" href="#member-dropdown">Members</a>
                <div id="member-dropdown" class="collapse panel-collapse">
                    <div class="panel-body">
                        <ul class="nav navbar-nav">
                            <li class="sidebar-item">
                                <a href="/admin/..." class="dropdown-link">
                                    Member List
                                </a>
                            </li>
                        </ul>
                    </div><!-- dropdown body -->
                </div><!-- member dropdown -->
            </li><!-- sidebar-item member -->
            <li class="sidebar-item">
                <a class="sidebar-link" data-toggle="collapse" href="#more-dropdown">More</a>
                <div id="more-dropdown" class="collapse panel-collapse">
                    <div class="panel-body">
                        <ul class="nav navbar-nav">
                            <li class="sidebar-item">
                                <a href="/auth/logout" class="dropdown-link">
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </div><!-- dropdown body -->
                </div><!-- member dropdown -->
            </li><!-- sidebar-item member -->
        </ul><!-- sidebar-main-nav -->
    </div>
    <div class="sidebar-section sidebar-footer"></div>
</div>