<div class="sidebar">
    <div class="button"></div>
    <div class="sidebar-section sidebar-top">
        <div class="sidebar-profile">
            <div class="sidebar-profile-img"></div>
            <div class="sidebar-profile-name">
                Ben Zordan
            </div>
            <div class="sidebar-profile-title">
                Administrator
            </div>
            <div class="sidebar-profile-dropdown">
                <ul>
                    <li><a>Edit Profile</a></li>
                    <li><a>Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="sidebar-section sidebar-body">
        <ul>
            <li><a>Dashboard</a></li>
            <li><a>Orders</a></li>
            <li><a>Products</a></li>
            {{!-- <li><a>Financial</a></li> --}}
            <li><a>Users</a></li>
        </ul>
    </div>
    <div class="sidebar-section sidebar-footer"></div>
</div>