<br>
<div class="text-center"><h1 class="page-header">Invoice</h1></div>
<br>
<div id="cart-container" class="container">
     &nbsp;&nbsp;
    <ul class = "nav nav-tabs txtUpper 
    clearfix js-productInfoTab">
    &nbsp;&nbsp;
    &nbsp;&nbsp;
    &nbsp;&nbsp;
    &nbsp;&nbsp;
    &nbsp;&nbsp;
    &nbsp;&nbsp;
    &nbsp;&nbsp;
    &nbsp;&nbsp;
    &nbsp;&nbsp;
        <li class= "active" style="color:#1063F0";>
            Products
        </li>
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;
        <li class= "sizeDetailtab" style="color:#1063F0";>
            Price ($SGD)
        </li>
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
       <li class= "sizeDetailtab" style="color:#1063F0";>
            Quantity
        </li>
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        <li class= "productReviewsTab" style="color:#1063F0";>
            Total
        </li>
    </ul>

    <div class="cart-items">

    {{#each products}}
        <div class="cart-row">
            <div class="cart-item cart-column">
                <img class="cart-item-image" width="100" height="100">
                <span class="cart-item-title">{{product}}</span>
            </div>
            <span class="cart-price cart-column">${{price}}</span>
            <div class="cart-quantity cart-column">
                {{!-- Retrieve value here --}}
                <input type="number" value="1" min="1" step="any" >
            

                &nbsp;&nbsp;
                &nbsp;&nbsp;

               

                &nbsp;&nbsp;
                
                <button class="btn btn-danger" type="button" value="remove" <button onclick="alert('Item removed')">Remove</button>
            </div>
            <span class="cart-total cart-column">${{price}}</span>
            
        </div>
    {{/each}}
    </div>
</div>

<script>
	/**
	 * @param {Date | number | string} date The date to be formated in local time zone
	 */
	function dateFormat(date) {
		return moment(date).utcOffset('+0800').format("YYYY-MM-DD HH:MM:SS Z");
	}
</script>