<div class="container-fluid">
	<!-- See more "https://examples.bootstrap-table.com/#welcome.html" -->
	<table 
		id="table"
		data-toggle="table"
		data-pagination="true"
		data-url="/examples/client-table-data-raw"
		data-sort-name="title"
		data-silent-sort="false"
		data-side-pagination="server"
		data-show-refresh="true"
		data-show-columns="true"
		data-show-columns-search="true">
		<thead>
			<th data-field="uuid">UUID</th>
			<th data-field="title"          data-sortable="true">Title</th>
			<th data-field="dateCreated"    data-sortable="true" data-formatter="dateFormat">Date Created</th>
			<th data-field="dateUpdated"    data-sortable="true" data-formatter="dateFormat">Date Updated</th>
			<th data-field="dateReleased"   data-sortable="true" data-formatter="dateFormat">Date Released</th>
			<th data-field="story"          data-sortable="true">Story</th>
			<th data-field="language"       data-sortable="true">Language</th>
			<th data-field="classification" data-sortable="true">Classification</th>
		</thead>
	</table>
</div>

<script>
	/**
	 * @param {Date | number | string} date The date to be formated in local time zone
	 */
	function dateFormat(date) {
		return moment(date).utcOffset('+0800').format("YYYY-MM-DD HH:MM:SS Z");
	}
</script>