<div class="main text-center">
	<img id="coverimg" src="../../img/phone.jpg">
	<div class="brand heading">wirela</div>
</div>
<div class="container-fluid subitems">
	<div class="row">
		<div class="col-md-6">
			<div class="widget">
				<img class="widimg" src="../../img/battery.jpg">
			</div>
		</div>
		<div class="col-md-6">
			<div class="widget">
				<img class="widimg" src="../../img/coffee.jpg">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="widget">
				<img class="widimg" src="../../img/meeting.jpg">
			</div>
		</div>
		<div class="col-md-6">
			<div class="widget">
				<img class="widimg" src="../../img/man.jpg">
			</div>
		</div>
	</div>
</div>
