* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.wrapper {
  min-height: 100vh;
}

.navbar {
  top: 0;
  width: 100%;
  font-size: 17px;
  opacity: 0.85;
  z-index: 9999;
}

.navbar-custom {
background-color: black;
}

#brand {
font-size: 28px;
font-family: "Righteous", sans-serif;
}

.bgimg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.footer {
  background-color: black;
  opacity: 0.93;
  position: relative;
  width: 100%;
  bottom: 0;
  color: white;
  }

.error {
  text-align: center;
  background-color: rgb(223, 0, 0);
  padding: 10px;
}

