<head>
  <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Ensures optimal rendering on mobile devices. -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- Optimal Internet Explorer compatibility -->
</head>
<body>
<h1 style="text-align: center; padding-top:80px;font-family:poppins">checkout</h1>
<script src="https://www.paypal.com/sdk/js?client-id=AfoA19isLSYjyh56dTvTfBcPOiZ75Sb4xSNAIl5Yd4Y38OYbhwXLaTrni-AlqaIgD9XEPwf2wyk8LmKT"></script>
<div id="paypal-button-container" style="padding-left:400px;padding-top:80px;"></div>

<script>
  paypal.Buttons({
    createOrder: function(data, actions) {
      // This function sets up the details of the transaction, including the amount and line item details.
      return actions.order.create({
        purchase_units: [{
          amount: {
            value: '25.00',
            currency: 'SGD'
          }
        }]
      });
    },
    onApprove: function(data, actions) {
      // This function captures the funds from the transaction.
      return actions.order.capture().then(function(details) {
        // This function shows a transaction success message to your buyer.
        window.alert('Transaction completed by ' + details.payer.name.given_name + ', thank you for your purchase!');
      });
    }
  }).render('#paypal-button-container');
</script>
</body>