<section id="backdrop" class="bgimg text-center">
    <div "container">
        <h1 class="p-4">Awesome!</h1>
        <h1>Your order has been placed!</h1>
        <h3>Your purchase ID is {{orderID}}</h3>
    </div>
</section>