<div class="container">
	<div class="mr-5 card card-body">
		<div class="text-center"><h3>Update Password</h3></div>
		<form action="/updatepassword/{{content.uuid}}?_method=PATCH" method="post" id="content-form" >
			<div class="form-group">
				<label class="font-italic" for="name">Old Password</label>
				<input type="password" class="form-control" name="oldpassword" value="" required>
			</div>
			<div class="form-group">
				<label class="font-italic" for="name">New Password</label>
				<input type="password" class="form-control" name="newpassword" value="" required>
			</div>
			<div class="form-group">
				<label class="font-italic" for="name">Confirm Password</label>
				<input type="password" class="form-control" name="confirmpassword" value="" required>
			</div>
			<button id="btnSubmit" type="submit" class="btn btn-primary">Save</button>
			
			<a class="btn btn-primary" href="/profile">Back</a>
		</form>
	</div>
</div>